body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
}   
main{
    background-color: hsl(235, 18%, 26%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    background-color: white;
    width: 380px;
    height: 380px;
    border-radius: 25px;
    padding: 10px;
}
.content{
    padding: 40px 40px 0 40px;
}
.btn-content{
    margin: 20px 40px;
}
button{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;
    padding: 14px;
    width: 100%;
    
    background: hsl(234, 29%, 20%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: linear-gradient(90deg, rgba(244,84,180,1) 0%, rgba(255,98,87,1) 37%);
    box-shadow: 0px 6px 12px 0px rgba(255,98,87,0.6);
}
h1{
    color: hsl(234, 29%, 20%);
    font-size: 38px;
    font-weight: 600;
    margin: 20px 0;
}
p{
    font-size: 13px;
    line-height: 1.5em;
}
span{
    color: hsl(234, 29%, 20%);
    font-weight: 600;
}
img{
    height: 50px;
    width: auto;
}

@media (max-width: 450px){
    .wrapper{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .content{
        margin-top: 120px;
    }
    .btn-content{
        margin-bottom: 40px;
    }
}